.talk {
    //background: #E5E4DB;
    //border: 1px dashed #333;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 0;
    padding: 10px 10px 3px 10px;
    margin-bottom: 10px;
    -webkit-user-select: text;
    background-color: #ECECEC;
    .content {
        white-space: pre;
        p {
            margin: 0;
            line-height: 1.6;
        }
    }
    time {
        font-size: 12px;
        color: #666;
        float: left;
        line-height: 36px;
        font-style: italic;
        font-weight: 100;
    }
    .toolbar {
        transition: opacity 0.4s ease;
        text-align: right;
        opacity: 0;
        -webkit-user-select: none;
        &.t2 {
            opacity: 1;
        }
        a {
            display: inline-block;
            font-size: 12px;
            text-align: center;
            width: 36px;
            height: 36px;
            line-height: 34px;
            padding: 0;
            cursor: pointer;
            //color: #FF3B80;
            color: #807F80;
            transition: all 0.4s ease;
            &:hover {
                color: #FF3B80;
                //transform: scale(1.2);
                //text-shadow: 0px 0px 10px #FF3B80;
            }
        }
    }
    &:hover {
        .toolbar {
            opacity: 1;
        }
    }
    textarea {
        width: 100%;
        font-size: 14px;
        outline: none;
        resize: none;
        border: none;
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
        line-height: 1.6;
        vertical-align: top;
        background: transparent;
        color: #0086b3;
        &:focus + .line {
            width: 100%;
        }
    }
    .line {
        position: relative;
        top: -5px;
        height: 1px;
        background: #0086b3;
        //background: #FF3B80;
        margin: 0 auto -1px auto;
        width: 0;
        transition: width 0.4s ease;
    }
}
