<div class="talk markdown-body demo-card-wide mdl-card mdl-shadow--2dp" :id="talk.id" :style="{'background': talk.color}">
    <div v-if="!isEdit">
        <div class="content" v-el:content v-html="talk.content | emoji | marked" @dblclick="edit"></div>
        <div class="toolbar" v-el:toolbar>
            <time>{{talk.timestamp | moment}}</time>
            <a @click.stop="toggleStar">
                <i v-show="!talk.star" class="icon">&#xe621;</i>
                <i v-show="talk.star" class="icon">&#xe622;</i>
            </a>
            <a @click.stop="delete">
                <i class="icon">&#xe623;</i>
            </a>
            <a @click.stop="edit">
                <i class="icon">&#xe61d;</i>
            </a>
        </div>
    </div>
    <div v-else>
        <textarea v-model="content" v-on:keyup.esc="save" v-el:textarea debounce="30" :style="{ height: contentHeight + 'px' }"></textarea>
        <div class="line"></div>
        <div class="toolbar t2">
            <a @click.stop="save">
                <i class="icon">&#xe60d;</i>
            </a>
        </div>
    </div>

</div>
