@import "../assets/css/reset";
@import "../assets/css/material.css";
@import "../assets/css/github-markdown-css";
@import "../modules/talkbox/talkbox";
@import "../modules/talklist/talklist";
@import "../modules/talk/talk";
@import "../assets/css/griffin";

@font-face {
    font-family: 'iconfont';
    //src: url('http://at.alicdn.com/t/font_1447469203_664288.woff') format('woff')
    src: url('../assets/fonts/iconfont.woff') format('woff');
}

.icon {
    display: inline-block;
    font-family: 'iconfont';
    vertical-align: middle;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    color: #333;
    background: #F6F6F6;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    -webkit-user-select: none;
}

.setting-btn {
    position: absolute;
    right: 0;
    top: 130px;
    a {
        display: inline-block;
        padding: 5px 10px;
        color: #807F80;
        cursor: pointer;
    }
}


.setting-panel {
    box-sizing: border-box;
    background: #3292c8;
    height: 100%;
    .nav-bar {
        overflow: hidden;
        border-bottom: 2px groove #ccc;
        a {
            height: 30px;
            line-height: 30px;
            padding: 5px 10px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
            &:hover {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .setting-area {
        padding: 50px;
        text-align: center;
        .just-for-fun {
            margin-top: 70px;
        }
        button {
            margin-top: -28px;
        }

        .about {
            margin-top: 50px;
            color: #ccc;
            line-height: 1.2;
        }
    }
}
